---
name: Check Slurm Plugins
on:
  workflow_dispatch:  # Allows manual trigger from GitHub UI
  pull_request:
    branches:
      - main
    paths:
      - plugins/**

permissions:
  contents: read

jobs:
  build_lint_test:
    name: Build, Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy
          sudo apt-get install -y libssl-dev libzip-dev
          sudo apt-get install -y slurm-wlm slurm-wlm-basic-plugins libslurm-dev

      - name: Install pkg-config
        run: sudo apt-get install -y pkg-config

      - name: Set Toolchain
        # https://github.com/dtolnay/rust-toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Build skeleton
        working-directory: plugins/skeleton
        run: |
          mkdir build
          pushd build
          cmake .. -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          make
          popd

      - name: Run clang-tidy (skeleton)
        working-directory: plugins/skeleton
        run: |
          clang-tidy *.c -p ./build --checks=-*,modrnize-*,readability-*,performance-*,portability-*,-readability-magic-numbers,-readability-identifier-length  -header-filter=.*

      - name: Build spank_qrmi
        working-directory: plugins/spank_qrmi
        run: |
          mkdir build
          pushd build
          cmake .. -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          make
          popd

      - name: Run clang-tidy (spank_qrmi)
        working-directory: plugins/spank_qrmi
        run: |
          clang-tidy *.c -p ./build --checks=-*,modrnize-*,readability-*,performance-*,portability-*,-readability-magic-numbers,-readability-identifier-length  -header-filter=.* -- -Ibuild/deps/src/QRMI

      - name: Test (loading plugin and fetching SPANK plugin metadata)
        working-directory: plugins/tests/metadata
        run: |
          mkdir build
          pushd build
          cmake .. -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          make
          echo "ldd libqrmi.so .."
          ldd ../../../spank_qrmi/build/deps/src/QRMI/target/release/libqrmi.so
          echo "ldd spank_qrmi.so .."
          ldd ../../../spank_qrmi/build/spank_qrmi.so
          echo "ldd test .."
          ldd test
          echo "run test .."
          ./test ../../../spank_qrmi/build/spank_qrmi.so
          popd

